---
import { getCollection } from "astro:content";
import ArticleLayout from "@/layouts/ArticleLayout.astro";
import { FundraisingCampaigns } from "@/components/sections/FundraisingCampaigns";

const fundraisingCampaigns = (await getCollection("fundraisingCampaign")).sort(
  (a, b) => b.data.publishedDate.valueOf() - a.data.publishedDate.valueOf(),
);

const pageSize = 10;
const firstPageFundraisingCampaigns = fundraisingCampaigns.slice(0, pageSize);
const totalPages = Math.ceil(fundraisingCampaigns.length / pageSize);
---

<ArticleLayout>
  <FundraisingCampaigns fundraisingCampaigns={firstPageFundraisingCampaigns} />
  <nav class="flex items-center justify-center gap-2">
    {fundraisingCampaigns.length > pageSize && <span>1</span>}
    {
      totalPages > 1 && (
        <a href="/fundraising-campaigns/2" class="next">
          Next
        </a>
      )
    }
  </nav>
</ArticleLayout>
