---
import MainLayout from "@/layouts/MainLayout.astro";
import { getCollection } from "astro:content";

const pressReleases = await getCollection("pressRelease");
---

<MainLayout>
  <h1>All Press Releases</h1>
  <ul>
    {
      pressReleases.map((pressRelease) => (
        <li>
          <a href={`/press-releases/${pressRelease.id}`}>
            {pressRelease.data.title}
          </a>
        </li>
      ))
    }
  </ul>
</MainLayout>
