---
import type { HTMLAttributes } from "astro/types";
import { cn } from "@/lib/utils";
import { HighlightedText } from "../HighlightedText";

interface Props extends HTMLAttributes<"section"> {
  description?: string;
}

const { class: className, ...props } = Astro.props;
---

<section
  {...props}
  id="about"
  data-section="about"
  class={cn("flex flex-col space-y-12 scroll-m-18 mb-24", className)}
>
  <p>
    Content Writer with <HighlightedText>1 year of experience</HighlightedText> working
    in the technology industry and non-governmental organizations. Successfully authored
    <HighlightedText>90+</HighlightedText> fundraising campaigns that collectively
    raised over <HighlightedText>Rp2,600,000,000+</HighlightedText> as a Content Writer
    for the Insan Bumi Mandiri Foundation. Have attended a <HighlightedText
      >digital marketing bootcamp</HighlightedText
    >
    for 3 months to learn digital marketing in more depth. Skilled in <HighlightedText
      >content writing/copywriting</HighlightedText
    >,
    <HighlightedText>SEO</HighlightedText>, and <HighlightedText
      >digital marketing</HighlightedText
    >.
  </p>
</section>
