---
import CertificationItem from "../CertificationItem.astro";
import type { HTMLAttributes } from "astro/types";
import type { CollectionEntry } from "astro:content";
import { cn } from "@/lib/utils";

interface Props extends HTMLAttributes<"section"> {
  certifications: CollectionEntry<"certifications">[];
}

const { certifications, class: className, ...props } = Astro.props;
---

<section
  {...props}
  id="certifications"
  data-section="certifications"
  class={cn("flex flex-col space-y-4 scroll-m-18 mb-12", className)}
>
  <h2 class="text-xl font-semibold">Certifications</h2>
  <ul class="flex flex-col space-y-4">
    {
      certifications.map((certification) => (
        <CertificationItem certification={certification} />
      ))
    }
  </ul>
</section>
