---
import { Icon } from "astro-icon/components";

const contacts = [
  {
    name: "Email",
    icon: "mail",
    url: "mailto:faisal.muhammad2911@gmail.com",
  },
  {
    name: "LinkedIn",
    icon: "linkedin",
    url: "https://www.linkedin.com/in/faisal-muhammad-537741175",
  },
];
---

<section>
  <ul class="flex items-center gap-4">
    {
      contacts.map((contact) => (
        <li>
          <a
            href={contact.url}
            target="_blank"
            class="text-muted-foreground hover:text-foreground transition-all duration-300 ease-in-out"
          >
            <Icon name={contact.icon} size={24} />
          </a>
        </li>
      ))
    }
  </ul>
</section>
