---
import EducationItem from "../EducationItem.astro";
import type { HTMLAttributes } from "astro/types";
import type { CollectionEntry } from "astro:content";
import { cn } from "@/lib/utils";

interface Props extends HTMLAttributes<"section"> {
  allEducation: CollectionEntry<"education">[];
}

const { allEducation, class: className, ...props } = Astro.props;
---

<section
  {...props}
  data-section="education"
  id="education"
  class={cn("flex flex-col space-y-12 scroll-m-18 mb-24", className)}
>
  <h2 class="text-xl font-semibold">Education</h2>
  <ul class="flex flex-col space-y-12">
    {allEducation.map((education) => <EducationItem education={education} />)}
  </ul>
</section>
