---
import EducationItem from "../EducationItem.astro";
import type { HTMLAttributes } from "astro/types";
import type { CollectionEntry } from "astro:content";
import { cn } from "@/lib/utils";

interface Props extends HTMLAttributes<"section"> {
  allEducation: CollectionEntry<"education">[];
}

const { allEducation, class: className, ...props } = Astro.props;
---

<section {...props} class={cn("", className)}>
  <ul>
    {allEducation.map((education) => <EducationItem education={education} />)}
  </ul>
</section>
