---
import { cn } from "@/lib/utils";
import type { HTMLAttributes } from "astro/types";
import type { CollectionEntry } from "astro:content";
import PressReleaseItem from "../PressReleaseItem.astro";
import { ViewMoreButton } from "../ViewMoreButton";

interface Props extends HTMLAttributes<"section"> {
  pressReleases: CollectionEntry<"pressRelease">[];
  viewMoreButton?: boolean;
}

const {
  pressReleases,
  class: className,
  viewMoreButton = false,
  ...props
} = Astro.props;
---

<section {...props} class={cn("flex flex-col space-y-4", className)}>
  <h2
    data-heading="press-releases"
    id="press-releases"
    class="scroll-m-18 text-lg font-semibold"
  >
    Press Releases
  </h2>
  <ul class="flex flex-col space-y-4">
    {
      pressReleases.map((pressRelease) => (
        <PressReleaseItem pressRelease={pressRelease} />
      ))
    }
    {
      viewMoreButton && (
        <ViewMoreButton href="/press-releases">See More</ViewMoreButton>
      )
    }
  </ul>
</section>
