---
import ProjectItem from "../ProjectItem.astro";
import type { CollectionEntry } from "astro:content";
import type { HTMLAttributes } from "astro/types";
import { cn } from "@/lib/utils";

interface Props extends HTMLAttributes<"section"> {
  projects: CollectionEntry<"projects">[];
}

const { projects, class: className, ...props } = Astro.props;
---

<section
  {...props}
  id="projects"
  data-section="projects"
  class={cn("flex flex-col space-y-12 scroll-m-18 mb-24", className)}
>
  <h2 class="text-xl font-semibold">Projects</h2>
  <ul class="flex flex-col space-y-12">
    {projects.map((project) => <ProjectItem project={project} />)}
  </ul>
</section>
