---
import { cn } from "@/lib/utils";
import type { HTMLAttributes } from "astro/types";
import { ViewMoreButton } from "../ViewMoreButton";

interface Props extends HTMLAttributes<"section"> {}

const { class: className, ...props } = Astro.props;
---

<section {...props} class={cn("flex flex-col space-y-4", className)}>
  <h2 class="text-lg font-semibold">Radio Scripts</h2>
  <ViewMoreButton href="/radio-scripts.pdf" target="_blank"
    >View radio script archives</ViewMoreButton
  >
</section>
