---
import { cn } from "@/lib/utils";
import type { HTMLAttributes } from "astro/types";
import type { CollectionEntry } from "astro:content";
import InstagramContentFrame from "../InstagramContentFrame.astro";
import InstagramContentFrameCaption from "../InstagramContentFrameCaption.astro";
import { ViewMoreButton } from "../ViewMoreButton";
import { HighlightedText } from "../HighlightedText";

interface Props extends HTMLAttributes<"section"> {
  socialMediaContents: CollectionEntry<"socialMediaContent">[];
  viewMoreButton?: boolean;
}

const {
  socialMediaContents,
  viewMoreButton = false,
  class: className,
  ...props
} = Astro.props;
const currentPathname = Astro.url.pathname;
---

<section {...props} class={cn("flex flex-col space-y-4", className)}>
  <h2
    data-heading="social-media-contents"
    id="socia-media-contents"
    class="scroll-m-18 text-lg font-semibold"
  >
    Social Media Contents
  </h2>
  <p>
    During my time as a Content Writer for The Insan Bumi Mandiri Foundation, I
    authored <HighlightedText>38</HighlightedText> Social Media Contents that successfully
    generated <HighlightedText>297,644</HighlightedText>
    impressions, <HighlightedText>284,237</HighlightedText> reach, <HighlightedText
      >362</HighlightedText
    > new followers, <HighlightedText>22,296</HighlightedText> likes, <HighlightedText
      >225</HighlightedText
    > comments, <HighlightedText>701</HighlightedText> shares, and <HighlightedText
      >506</HighlightedText
    > saves.
  </p>
  <ul class="flex flex-col gap-4">
    {
      socialMediaContents.map((socialMediaContent) => (
        <li class="flex justify-center">
          {currentPathname !== "/" ? (
            <InstagramContentFrameCaption
              contentId={socialMediaContent.data.id}
            />
          ) : (
            <InstagramContentFrame contentId={socialMediaContent.data.id} />
          )}
        </li>
      ))
    }
    {
      viewMoreButton && (
        <ViewMoreButton href="/social-media-contents">View more</ViewMoreButton>
      )
    }
  </ul>
</section>
