---
import { cn } from "@/lib/utils";
import type { HTMLAttributes } from "astro/types";
import { Articles } from "@/components/sections/Articles";
import SocialMediaContents from "@/components/sections/SocialMediaContents.astro";
import { FundraisingCampaigns } from "@/components/sections/FundraisingCampaigns";
import PressReleases from "@/components/sections/PressReleases.astro";
import RadioScripts from "@/components/sections/RadioScripts.astro";
import type { CollectionEntry } from "astro:content";
import CustomLink from "../CustomLink.astro";
import { Icon } from "astro-icon/components";

interface Props extends HTMLAttributes<"section"> {
  articles: CollectionEntry<"article">[];
  socialMediaContents: CollectionEntry<"socialMediaContent">[];
  fundraisingCampaigns: CollectionEntry<"fundraisingCampaign">[];
  pressReleases: CollectionEntry<"pressRelease">[];
}

const {
  articles,
  socialMediaContents,
  fundraisingCampaigns,
  pressReleases,
  class: className,
  ...props
} = Astro.props;
---

<section
  {...props}
  id="selected-works"
  data-section="selected-works"
  class={cn("flex flex-col space-y-12 scroll-m-18", className)}
>
  <h2 class="text-xl font-semibold">Selected Works</h2>
  <div class="flex flex-col space-y-12">
    <Articles articles={articles} viewMoreButton />
    <SocialMediaContents
      socialMediaContents={socialMediaContents}
      viewMoreButton
    />
    <FundraisingCampaigns
      fundraisingCampaigns={fundraisingCampaigns}
      viewMoreButton
    />
    <PressReleases pressReleases={pressReleases} viewMoreButton />
    <RadioScripts />
  </div>
</section>
