---
import WorkExperienceItem from "../WorkExperienceItem.astro";
import type { CollectionEntry } from "astro:content";
import type { HTMLAttributes } from "astro/types";
import { cn } from "@/lib/utils";

interface Props extends HTMLAttributes<"section"> {
  allWorkExperience: CollectionEntry<"workExperience">[];
}

const { class: className, allWorkExperience, ...props } = Astro.props;
---

<section
  {...props}
  id="work-experience"
  data-section="work-experience"
  class={cn("flex flex-col space-y-12 scroll-m-18 mb-24", className)}
>
  <h2 class="text-xl font-semibold">Work Experience</h2>
  <ul class="flex flex-col space-y-12">
    {
      allWorkExperience.map((workExperience) => (
        <WorkExperienceItem workExperience={workExperience} />
      ))
    }
  </ul>
</section>
