---
import type { HTMLAttributes } from "astro/types";
import { cn } from "@/lib/utils";

interface Props extends HTMLAttributes<"div"> {
  name?: string;
  position?: string;
  description?: string;
}

const {
  class: className,
  name = "Faisal Muhammad",
  position = "Content Writer",
  description = "Some sort description about myself.",
  ...props
} = Astro.props;
---

<div {...props} class={cn("", className)}>
  <h1>{name}</h1>
  <p>{position}</p>
  <p>{description}</p>
</div>
