---
import { Image } from "astro:assets";
import type { RemoteImageProps } from "astro:assets";

type Props = RemoteImageProps;

const { src, alt, ...props } = Astro.props;
---

<div class="flex justify-center">
  {src ? (<Image src={src} alt={alt} {...props} inferSize class="rounded-md" />) : <></>}
  
</div>
