---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"img"> {}

const {src, width, height, alt, ...props} = Astro.props
---

<div class="flex justify-center">
  {src ? (<img src={src} alt={alt ?? ""} width={width} height={height} style="width: 100%; height: auto;" {...props} class="rounded-md" />) : <></>}
</div>
