---
import BaseLayout from "./BaseLayout.astro";
import type { SEOProps } from "astro-seo";

interface Props extends SEOProps {}

const { ...props } = Astro.props;
---

<BaseLayout {...props}>
  <div class="relative min-h-screen w-full">
    <div
      class="relative z-10 container mx-auto flex min-h-screen max-w-[60ch] flex-col gap-12 px-6 py-12 sm:py-24"
    >
      <main class="flex flex-col space-y-12">
        <slot />
      </main>
    </div>
  </div>
</BaseLayout>
