---
import BaseLayout from "./BaseLayout.astro";
import type { SEOProps } from "astro-seo";

interface Props extends SEOProps {}

const { ...props } = Astro.props;
---

<BaseLayout {...props}>
  <main>
    <slot />
  </main>
</BaseLayout>
